<h1>Facebook Comment Test</h1>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<div class="fb-comments" data-href="http://localhost:3000/home" data-numposts="8"></div>