<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta property="fb:app_id" content="1906292329591719" />
<meta property="og:url" content="https://protected-lowlands-45584.herokuapp.com/" />
<meta property="og:title" content="TestApp" />
<meta property="og:type" content="website" />
<meta property="og:description" content="blasblabl" />
<meta property="og:image" content="https://www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiBsIOPzsHUAhVFpJQKHfTJBS0QjRwIBw&url=https%3A%2F%2Fperlmaven.com%2Ffetching-pictures-from-flickr&psig=AFQjCNHZleNKtjcaSozSuEACyTFgP3tmPg&ust=1497676564738115" />
</head>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>

<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1906292329591719',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<%= yield %>
<div class="fb-share-button" data-href="https://protected-lowlands-45584.herokuapp.com/comment" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprotected-lowlands-45584.herokuapp.com%2Fcomment&amp;src=sdkpreparse">Share</a></div>
</body>

</html>
